/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Lato&display=swap";
body {
    background: #fafafa;
    font-family: 'Lato';
}
p,h1,h2,h3, a{
    font-family: 'Lato';
    font-weight: bold
}
h4,h5,h6{
    font-family: 'Lato';
}
p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color:black
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    color: #fff;
    transition: all 0.3s;

    top: 0px;
    left: 0px;
    width: 328px;
    height: 1080px;
    background: #4F347F 0% 0% no-repeat padding-box;
    opacity: 1;
    padding: 20px 15px 20px 0px
}

#sidebar.active {
    margin-left: -250px;
}

.sidebar-header {
    min-height: 70px;
    padding:0px 15px 0px 15px
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}



#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color:white;
    background: #C60F87;
    border-radius: 0px 30px 30px 0px;
    height: 36px;
    padding-top:5px;
    padding-bottom:5px;
   
}

#sidebar ul li :hover {
    color:white;
    background: #C60F87;
    border-radius: 0px 30px 30px 0px;
    height: 36px;
    padding-top:5px;
    padding-bottom:5px;
}

#sidebar ul li>a,
a[aria-expanded="true"] {
    padding-left: 40px;
   
}
a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
    
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

.components > li.active{
    top: 125px;
left: 0px;
height: 36px;
border-radius: 0px 30px 30px 0px;
opacity: 1;
color:white !important;
line-height: 1.5;
}

.fa-bell, .fa-inbox {
 color: #4F347F
}

.channel{
    background-color: #4F347F;
    color: white
}

.statusCard > li >span.badge{
    background-color: #4F347F;
    color: white
}

.statusCard > li >h5{
   
    color:#C60F87;
    font-weight: bold
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 0px 0px 10px 0px;
    min-height: 100vh;
    transition: all 0.3s;
}

.homeBanner{
    background-image: url("../img/Rectangle\ 8.svg");
    height:150px;
}

.homeBannerRow{
    padding-left: 15px;
    padding-right: 15px;
}
.homeBannerMark{
  
}
/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

